
.class

#pliki konfiguracyjne eclipse nie dodajemy do repo:
.classpath
.project
.settings/
#to co generuje maven też nie dodajemy do repo
target/
#inne pliki zaczynające się od kropki też nie dodajemy do repo i systematycznie uzupełniamy gitignore
.springBeans

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

